<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('./partials/head.ejs') %>
        <title>Thanks</title>
        <style>
            .card {
                width: 50vw;
                border: 2px solid rgb(221, 220, 220);
            }
            
            @media (max-width:800px) {
                .card {
                    width: 95vw;
                    height: 90vh;
                }
            }
        </style>
</head>

<body>
    <div class="container-fluid d-flex justify-content-center align-items-center" style="height: 100vh;
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027); ">
        <div class="card rounded">
            <div class="card-body">
                <h5 class="card-title">Gracias por tu comentario
                    <%= nombre%> !</h5>
                <h6 class="card-subtitle mb-2 text-muted">En breve te responderemos a
                    <%=email%>
                </h6>
                <a href="/form" class="btn btn-primary">Ir al inicio</a>

            </div>
        </div>
    </div>
</body>
<%- include('./partials/scripts.ejs') %>

</html>